@import '../node_modules/bulma/bulma.sass';

$fa-font-path: "../node_modules/font-awesome/fonts" !default;
@import "../node_modules/font-awesome/scss/font-awesome";

html,
body {
  height: 100%;
  margin: 0
}



// obvious helpers
.is-danger {
  color: $danger;
  font-weight: bold;
}
.is-green {
  color: green;
}
.is-lt-green {
  color: lightgreen;
}
.is-red {
  color: red;
}



body {


  .hero.is-primary * {
    color: black !important;
  }
  .context {
    font-style: italic;
    display: inline-block;
  }


}
