#queryPage {
  height: 100%;

  #hopViewer {
    display: flex;
    flex-flow: column;
    height: 99%;
    // margin: 22px;

    .row {
      margin: 0 1vw;

      &:first-of-type {
        margin: 0 0 10px;
      }

      &#statusBox {
        box-shadow: none;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 5px 5px 0 0;
        background-color: lightyellow;

        .box {
          background-color: lightyellow;
          box-shadow: initial;
          border-radius: 0;
          padding: 0;
          margin: 10px;
        }

        .level {
          height: 100px;
        }
        .fa {
          margin-right: 20px;
        }
      }
      &.header {
        flex: 0 1 auto;
        background-color: black;
        padding: 10px;

        & > * {
          color: white;
        }
      }
      &.content {
        border: 1px solid black;
        padding: 10px;
        // flex: 1 1 auto;
        height: 70%;
        overflow-x: hidden;
        overflow-y: scroll;

        .fa {
          color: blue;
          position: relative;
          left: 10px;
          top: 6px;
          font-size: 80%;
        }
      }
      &.footer {
        flex: 0 1 40px;
        text-align: center;
        padding: 0;
        margin: 5px 1vw;

        & > a {
          color: blue;
          display: inline-block;
          padding: 15px;
          text-decoration: underline;
          width: 100%;
          border: 1px solid black;

          .fa {
            margin-right: 10px;
          }
          &:hover {
            background-color: lightyellow;
          }
        }
      }
    }
  }
}
